header {
    background: #1d2026;
    padding: 20px;
}

#logo {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 70px;
}

.d1 {
    padding: 5px 5px 5px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main {
    display: flex;
    align-items: center;
    margin-right: 45px;
}

.main a {
    margin-left: 25px;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
    text-decoration: none;
}

.user {
    display: flex;
    align-items: center;
}

.user i {
    color: white;
    font-size: 28px;
    margin-right: 7px;
}

.main a:hover {
    color: #e91e63;
}

.serch {
    width: 40%;
    height: 8px;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    border-radius: 60px;
    padding: 15px 20px;
}

.serch input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 5px 5px;
    font-size: 10px;
    color: #cac7ff;
}

.serch button img {
    width: 10px;
    padding-right: 10px;
}

#menuicon {
    font-size: 35px;
    color: white;
    cursor: pointer;
    z-index: 10001;
    padding-right: 40px;
}

.serch button {
    border: 0;
    border-radius: 50%;
    width: 0;
    height: 0;
    background: #58629b;
    cursor: pointer;
}

nav {
    align-items: center;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.ul1 {
    padding: 0 0 20px 0;
    font-size: 18px;
}

.ul1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0 40px;
    overflow: hidden;
}

.ul1 a {
    color: aliceblue;
    text-decoration: none;
    padding: 0 35px;
    display: block;
}

.ul1 li {
    float: left;
}

#ul2 {
    float: right;
}

footer {
    background-color: #1d2026;
    padding: 70px 0;
    text-align: center;
}

.contain {
    max-width: 1170px;
    margin: auto;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.row {
    display: flex;
}

.footer-col ul {
    list-style: none;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}
